

<div class="container">
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" name="movie" class="form-control js-form" placeholder="Movie Title">
  </div>
  <button type="submit" class="btn btn-default js-btn">Search</button>
</form>
<br>
<div class="row" id="container">
    <div class="col-sm-12">
    <ul style="list-style: none;">
    <li><h3 class="title">Title</h3></li>
    <li><span class="poster img-thumbnail">Poster</span></li>
    <li><span class="year">Year</span></li>
    <li><p class="plot">Plot</p></li>
    
    <li><span> <a class="tomatoURL" href="blah" > </a> </span> </li>
    <button type="submit" class="btn btn-default js-add-movie">Add Movie</button>
    </ul>
    </div>

    <!-- add a div for your list of movies,
    put n each loop in there to show all the movies in your database -->

    <!-- in that div, within the each loop,
    have another div with a certain class that makes it hidden by default -->

</div>
</div>




